apiVersion: apps/v1 #  for k8s versions before 1.9.0 use apps/v1beta2  and before 1.8.0 use extensions/v1beta1
kind: Deployment
metadata:
  name: rest
spec:
  selector:
    matchLabels:
      app: rest
  replicas: 1
  template:
    metadata:
      labels:
        app: rest
    spec:
      containers:
      - name: rest
        image: mukundkalantri23/mysql-rest:latest
        env:
            - name: REDIS_HOST
              value: "redis"
            - name: REDIS_PORT
              value: "6379"
            - name: MINIO_HOST
              value: "minio:9000"
            - name: db_root_password
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: password
            - name: db_name
              value: drugdealer # create db before running this
        ports:
        - containerPort: 5002
